{{! Image component used in the Rental component }}
<button
  type="button"
  {{! if conditional to add class based on state}}
  class="image {{if this.isLarge 'large'}}"
  {{on "click" this.toggleSize}}
>
  <img ...attributes />
  {{! if ternary to change text based on state}}
  <small>View {{if this.isLarge "Smaller" "Larger"}}</small>
</button>