{{! Main page of the app, displays all the rentals }}

{{! Import the Jumbo component }}
{{! Import the LinkTo component }}
{{! Import the Rental component }}

{{! Display the Jumbo component with a title and a button to the about page }}
<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />